<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postTest1</title>
</head>
<body>
<form method="post" action="/booktest/postTest2">
    <label for="username">姓名：<input type="text" id="username" name="uname"></label>
    <label for="password">密码：<input type="password" id="password" name="upwd"></label>
    <label for="gender">性别：
        <input type="radio" id="gender" name="ugender" checked value="man">nan
        <input type="radio" id="gender" name="ugender" value="woman">nv
    </label>
    爱好：<input type="checkbox" name="uhobby" value="eat">eat
    <input type="checkbox" name="uhobby" value="sleep">sleep
    <input type="checkbox" name="uhobby" value="drink">drink
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>